<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

    <form name="login" method="post" action="/process_login">
        <label for="username">Введите логин:</label>
        <input type="text" name="username" id="username">
        <br/>
        <label for="password">Введите пароль:</label>
        <input type="password" name="password" id="password">
        <br/>
        <input type="submit" value="Войти">

        <div th:if="${param.error}" style="color: red">
            Неверный логин или пароль
        </div>
    </form>

    <hr />
    <p><a href="/">Страница приветствия</a></p>
</body>
</html>