<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>

<body>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Login</th>
        <th>Password</th>
        <th>Name</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Roles</th>
    </tr>

    <tr>
        <td><a th:text="${user.getId()}">id</a></td>
        <td><a th:text="${user.getUsername()}">login</a></td>
        <td><a th:text="${user.getPassword()}">password</a></td>
        <td><a th:text="${user.getFirstname()}">name</a></td>
        <td><a th:text="${user.getLastname()}">lastname</a></td>
        <td><a th:text="${user.getEmail()}">email</a></td>
        <td><a th:text="${user.getRoles().toString()}">roles</a></td>
    </tr>
</table>


<br />
<hr />

<a th:href="@{/admin/{id}/edit(id=${user.getId()})}">edit this User</a>
<br />
<form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete"/>
</form>
<br />
<a th:href="@{/admin}">Вернуться</a>
</body>
</html>