<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Login</th>
        <th>Password</th>
        <th>Name</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Roles</th>
    </tr>

    <tr>
        <td><a th:text="${user.getId()}">id</a></td>
        <td><a th:text="${user.getUsername()}">login</a></td>
        <td><a th:text="${user.getPassword()}">password</a></td>
        <td><a th:text="${user.getFirstname()}">name</a></td>
        <td><a th:text="${user.getLastname()}">lastname</a></td>
        <td><a th:text="${user.getEmail()}">email</a></td>
        <td><a th:text="${user.getRoles().toString()}">roles</a></td>
    </tr>
</table>
<p></p><a href="/">Страница приветствия</a></p>
<hr />
<p><a href="/auth/logout">Выйти</a></p>

</body>
</html>